[user]
[core]
	editor = /Users/liuxiang/bin/git-editor
	excludesfile = /Users/liuxiang/.gitignore_global
[merge]
[diff]
	tool = Kaleidoscope

[difftool]
	prompt = false
[difftool "Kaleidoscope"]
	cmd = ksdiff --partial-changeset --relative-path \"$MERGED\" -- \"$LOCAL\" \"$REMOTE\"
[mergetool "Kaleidoscope"]
	cmd = ksdiff --merge --output \"$MERGED\" --base \"$BASE\" -- \"$LOCAL\" --snapshot \"$REMOTE\" --snapshot
	trustexitcode = true
[mergetool]
	keepBackup = false
	diffconflictstrustExitCode = true
	prompt = false
[color]
	ui = true
[alias]
	co = checkout
	ci = commit
	stat = status
	s = status
	st = status
	br = branch
  wdiff = diff --color-words
	l = log
	d = diff
	dd = diff --cached
  rb = rebase
  rbi = rebase -i
  rbc = rebase --continue
[filter "media"]
	required = true
	clean = git media clean %f
	smudge = git media smudge %f
[credential]
	helper = osxkeychain
[push]
	default = upstream
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Volumes/SourceTree/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Liu Xiang
	email = liuxiang@ktjr.com
[github]
	user = lululau
[filter "hawser"]
	clean = git hawser clean %f
	smudge = git hawser smudge %f
	required = true
[filter "lfs"]
	clean = git lfs clean %f
	smudge = git lfs smudge %f
	required = true
[mergetool "diffconflicts"]
	cmd = diffconflicts vim $BASE $LOCAL $REMOTE $MERGED
[merge]
	tool = Kaleidoscope
[github "kaitong"]
	user = liuxiang
[pull]
	rebase = true
