# Created by https://www.gitignore.io

### OSX ###
.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# Created by https://www.gitignore.io

### Vim ###
[._]*.s[a-w][a-z]
[._]s[a-w][a-z]
*.un~
Session.vim
.netrwhist
*~

/secrets/*
!/secrets/*.secret

/mpv
/private
/imap_inotify/config.json
/configstore/update-notifier-npm.json
/pgcli/log
/mybatisCodeHelperPro.data
/asciinema/
/Kvantum/
/Mousepad/
/Thunar/
/dconf/
/falkon/
/gtk-2.0/
/manjaro/
/pulse/
/qt5ct/
/vlc/
/volumeicon/
/xfce4/
/autostart/
/manjaro-hello.json
/mimeapps.list
/user-dirs.dirs
/user-dirs.locale
/configstore/update-notifier-jay-repl.json
/rclone
/configstore/update-notifier-youtube-dl-interactive.json
/clash
/yarn/
