set surround
set smartcase
set hlsearch
set incsearch
set ignorecase
" 共享系统粘贴板
set clipboard=unnamed
set expandtab
set tabstop=4
set shiftwidth=4
set softtabstop=4
set autoindent
set cindent
set encoding=utf-8
set fileencoding=utf-8
set fileencodings=utf-8,ucs-bom,chinese
set formatoptions+=mM
set ambiwidth=double
set noshowmode

let mapleader = " "

" System/Global
nnoremap <leader>qq :action Exit<cr>
inoremap <c-a> <c-o>^
inoremap <c-f> <Right>
inoremap <c-b> <Left>
inoremap <c-n> <Down>
inoremap <c-p> <Up>
inoremap <c-d> <Del>
nnoremap <c-c> i
nnoremap <c-a> ^
nnoremap <cr> :action EditorStartNewLine<cr>
noremap <m-m> :action ToggleBookmark<cr>
noremap <m-a-b> :action ToggleLineBreakpoint<cr>

nnoremap [[ :action MethodUp<cr>
nnoremap ]] :action MethodDown<cr>
nnoremap [c :action VcsShowPrevChangeMarker<cr>
nnoremap ]c :action VcsShowNextChangeMarker<cr>
nnoremap [b :action GotoPreviousBookmark<cr>
nnoremap ]b :action GotoNextBookmark<cr>

noremap <leader>ep :action GotoPreviousError<cr>
noremap <leader>en :action GotoNextError<cr>

" Motion/Jump
nnoremap <leader><leader> :action AceAction<cr>
noremap <c-cr> :action GotoImplementation<cr>
noremap <m-cr> :action VimWindowSplitVertical<cr>:action GotoImplementation<cr>
noremap <c-o> :action Back<cr>
noremap <c-i> :action Forward<cr>

" Getting Help
noremap <leader>hd :action QuickJavaDoc<cr>
noremap <leader>hs :action QuickImplementations<cr>
noremap <leader>dd :action SmartSearchAction<cr>
noremap <leader>dD :action SearchAction<cr>

" Projects
nnoremap <leader>pt :action ActivateProjectToolWindow<cr>
nnoremap <leader>ps :action ShowProjectStructureSettings<cr>

" Files
noremap <leader>feR :source ~/.ideavimrc<cr>
noremap <leader>fed :e ~/.ideavimrc<cr>
noremap <leader>feD :e ~/.ideavim_actions.txt<cr>
nnoremap <leader>fo :action Tool_Files_OpenWithEmacs<cr>
noremap <leader>fD :action Tool_Files_DeleteCurrentFile<cr>
noremap <leader>fR :action RefactoringMenuRenameFile<cr>
noremap <a-tab> :action TabSwitchPlugin.SwitchTab<cr>
noremap <leader>fnc :action NewClass<cr>
noremap <leader>fnf :action NewFile<cr>
noremap <leader>fb :action ShowBookmarks<cr>
noremap <m-n> :action NewFile<cr>
noremap <m-s-n> :action NewClass<cr>

" Code
noremap <leader>cf :action ReformatCode<cr>
noremap <leader>cis :action ConvertIndentsToSpaces<cr>

" Nav
noremap <leader>ni :action SelectInProjectView<cr>
noremap <leader>nI :action SelectIn<cr>
noremap <leader>ji :action GotoSymbol<cr>

" Search
nnoremap <leader>/ :action FindInPath<cr>
vnoremap <leader>/ <c-c>:action FindInPath<cr>
nnoremap <leader>* viw:action FindInPath<cr>
vnoremap <leader>* :action FindInPath<cr>
noremap <leader>su :action ShowUsages<cr>
noremap <leader>sU :action FindUsages<cr>
nnoremap <leader>sr :action ReplaceInPath<cr>
vnoremap <leader>sr <c-c>:action ReplaceInPath<cr>
nnoremap <leader>sR viw:action ReplaceInPath<cr>
vnoremap <leader>sR :action ReplaceInPath<cr>

" Toggles
noremap <leader>tN :action ViewNavigationBar<cr>
noremap <leader>tn :action EditorToggleShowLineNumbers<cr>
noremap <leader>tl :action EditorToggleUseSoftWraps<cr>
noremap <leader>tw :action EditorToggleShowWhitespaces<cr>
noremap <leader>tc :action EditorToggleColumnMode<cr>
noremap <leader>ti :action EditorToggleShowIndentLines<cr>
noremap <leader>tb :action EditorToggleShowBreadcrumbs<cr>
noremap <leader>tg :action EditorToggleShowGutterIcons<cr>
noremap <leader>ts :action ChangeInspectionProfile<cr>

" Maven/Gradle/Other Build-related Actions
noremap <leader>rr :action Run<cr>
noremap <leader>rd :action Debug<cr>
noremap <leader>jr :action JRebel Executor<cr>
noremap <leader>jd :action JRebel Debug<cr>
noremap <leader>bf :action Compile<cr>
noremap <leader>bm :action MakeModule<cr>
noremap <leader>bp :action CompileDirty<cr>
noremap <leader>bP :action CompileProject<cr>
noremap <leader>mi :action Maven.Reimport<cr>
noremap <leader>me :action Maven.ShowEffectivePom<cr>
noremap <leader>mp :action Tool_Files_OpenProjectPom<cr>
noremap <leader>mP :action Tool_Files_OpenModulePom<cr>

" Tool Windows
noremap <leader>av :action ActivateBeanValidationToolWindow<cr>
noremap <leader>ac :action ActivateCheckStyleToolWindow<cr>
noremap <leader>aD :action ActivateDatabaseToolWindow<cr>
noremap <leader>ad :action ActivateDebugToolWindow<cr>
noremap <leader>ae :action ActivateEventLogToolWindow<cr>
noremap <leader>aF :action ActivateFavoritesToolWindow<cr>
noremap <leader>af :action ActivateFindToolWindow<cr>
noremap <leader>aE :action ActivateJavaEnterpriseToolWindow<cr>
noremap <leader>ajc :action ActivateJRebelConsoleToolWindow<cr>
noremap <leader>aje :action ActivateJRebelExecutorToolWindow<cr>
noremap <leader>ajt :action ActivateJRebelToolWindow<cr>
noremap <leader>aM :action ActivateMavenProjectsToolWindow<cr>
noremap <leader>am :action ActivateMessagesToolWindow<cr>
noremap <leader>an :action ActivateNavBar<cr>
noremap <leader>ap :action ActivatePaletteToolWindow<cr>
noremap <leader>ar :action ActivateRunToolWindow<cr>
noremap <leader>as :action ActivateSpringToolWindow<cr>
noremap <leader>aS :action ActivateStructureToolWindow<cr>
noremap <leader>' :action ActivateTerminalToolWindow<cr>
noremap <leader>at :action ActivateTODOToolWindow<cr>
noremap <leader>ag :action ActivateVersionControlToolWindow<cr>
noremap <leader>aw :action ActivateWebToolWindow<cr>
noremap <leader>aT :action ActiveToolwindowGroup<cr>

" Window Management
nnoremap <A-h> :action VimWindowLeft<cr>
nnoremap <A-j> :action VimWindowDown<cr>
nnoremap <A-k> :action VimWindowUp<cr>
nnoremap <A-l> :action VimWindowRight<cr>
nnoremap <M-t> :action VimWindowSplitVertical<cr>
nnoremap <M-S-t> :action VimWindowSplitHorizontal<cr>
nnoremap <M-S-w> :action Unsplit<cr>

" Git
noremap <leader>gs :action Tool_Git_MagitStatus<cr>
noremap <leader>gd :action Tool_Git_DiffCurrentFile<cr>
noremap <leader>gb :action Tool_Git_BlameCurrentFile<cr>
noremap <leader>gu :action Tool_Git_RevertCurrentFile<cr>
