set surround
set smartcase
set hlsearch
set incsearch
set ignorecase

set expandtab
set tabstop=2
set shiftwidth=2
set softtabstop=2
set autoindent
set cindent
set encoding=utf-8
set fileencoding=utf-8
set fileencodings=utf-8,ucs-bom,chinese
set formatoptions+=mM
set ambiwidth=double
set noshowmode

let mapleader = " "
noremap <leader>feR :source ~/.ideavimrc<cr>

inoremap <c-a> <c-o>^
inoremap <c-f> <Right>
inoremap <c-b> <Left>
inoremap <c-n> <Down>
inoremap <c-p> <Up>
inoremap <c-d> <Del>
nnoremap <c-c> i
nnoremap <c-a> ^


nnoremap <leader><leader> :action AceAction<cr>
nnoremap <leader>dd :action QuickJavaDoc<cr>
nnoremap <leader>ds :action QuickImplementations<cr>
nnoremap <leader>pt :action ActivateProjectToolWindow<cr>
nnoremap <leader>fo :action Tool_External Tools_Open in Emacs<cr>
nnoremap <leader>ss :action FindInPath<cr>
vnoremap <leader>ss y:<bs><bs><bs><bs><bs>action FindInPath<cr>
