gsub_file "Gemfile", "https://rubygems.org", "https://gems.ruby-china.com"

gsub_file "Procfile.dev", "web: bin/rails server -p 3000", ""

gem 'pry-rails'
gem 'pry-byebug'
gem 'pry-helper'

copy_file "~/.rails.gitignore", ".gitignore"
git :init
git add: '.'
git commit: "-a -m 'Initial commit'"
