# Caddyfile

# log
{
	log {
		output file {$HOME}/tmp/caddy.log
	}
}

## zhzx

http://zhzx.localtest.me {
  reverse_proxy localhost:5100
}

## jicai

  # root * /Users/liuxiang/sd/jcfe/dist
  # file_server
http://buy.localtest.me {
  reverse_proxy localhost:3200
}

http://api.buy.localtest.me {
  reverse_proxy localhost:5200
}

## LCL

http://lcl.localtest.me {
	reverse_proxy localhost:18000
}

http://admin.lcl.localtest.me {
	reverse_proxy localhost:18080
}

http://open.lcl.localtest.me {
	reverse_proxy localhost:18081
}

http://task.lcl.localtest.me {
	reverse_proxy localhost:18082
}

## Ceres

http://ceres.localtest.me {
	reverse_proxy localhost:18100
}

http://admin.ceres.localtest.me {
	reverse_proxy localhost:18180
}

http://api.ceres.localtest.me {
	reverse_proxy localhost:18181
}

http://job.ceres.localtest.me {
	reverse_proxy localhost:18182
}

## Call Center

http://cc.localtest.me {
	reverse_proxy localhost:18200
}

http://admin.cc.localtest.me {
	reverse_proxy localhost:18280
}

http://open.cc.localtest.me {
	reverse_proxy localhost:18281
}

http://task.cc.localtest.me {
	reverse_proxy localhost:18282
}


## WeJumper

http://wj.localtest.me {
	reverse_proxy localhost:18300
}

http://admin.wj.localtest.me {
	reverse_proxy localhost:18380
}

http://api.wj.localtest.me {
	reverse_proxy localhost:18381
}

http://task.wj.localtest.me {
	reverse_proxy localhost:18382
}


## Regulon
http://rlon.localtest.me {
	reverse_proxy localhost:18400
}

http://admin.rlon.localtest.me {
	reverse_proxy localhost:18480
}

http://open.rlon.localtest.me {
	reverse_proxy localhost:18481
}

http://task.rlon.localtest.me {
	reverse_proxy localhost:18482
}
