<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN"
"http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>homebrew.mxcl.rabbitmq</string>
    <key>Program</key>
    <string>/usr/local/opt/rabbitmq/sbin/rabbitmq-server</string>
    <key>RunAtLoad</key>
    <true/>
    <key>EnvironmentVariables</key>
    <dict>
      <!-- need erl in the path -->
      <key>PATH</key>
      <string>/usr/local/sbin:/usr/sbin:/usr/bin:/bin:/usr/local/bin</string>
      <!-- specify the path to the rabbitmq-env.conf file -->
      <key>CONF_ENV_FILE</key>
      <string>/usr/local/etc/rabbitmq/rabbitmq-env.conf</string>
    </dict>
  </dict>
</plist>
